.background-video {
  width: 1920px;
  z-index: -1;
  position: fixed;
}

@media screen and (min-width: 1920px) {
  .background-video {
    width: 3840px;
    margin-top: -30vh;
  }
}
@media screen and (max-width: 820px) {
  .background-video {
    width: 1600px;
    margin-left: -25vw;
  }
}
