.footer {
  position: absolute;
  top: 0;
  margin-top: -2vh;
  margin-left: 1vw;
}
.footer_b {
  position: absolute;
  top: 0;
  margin-top: -2vh;
  margin-left: 1vw;
}
.footer button {
  background-color: rgba(0, 0, 0, 0.616);
  color: blanchedalmond;
  padding: 12px 20px;
  margin: 0 2%;
  border: none;
  border-radius: 0 0 10px 10px;
  margin-top: 1rem;
  cursor: pointer;
  color: blanchedalmond;
}
.footer button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.footer_b button {
  background-color: rgba(4, 8, 75, 0.274);
  color: blanchedalmond;
  padding: 12px 20px;
  margin: 0 2%;
  border: none;
  border-radius: 0 0 10px 10px;
  margin-top: 1rem;
  cursor: pointer;
  color: blanchedalmond;
}
.footer_b button:hover {
  background-color: rgba(4, 8, 75, 0.8);
}
@media screen and (max-width: 760px) {
  .footer button {
    padding: 0.6vh 3vw;
  }
  .footer_b button {
    padding: 0.6vh 3vw;
  }
}
@media screen and (max-height: 440px) {
  .footer button {
    padding: 1.5vh 2vw;
    margin-top: 2.1vh;
  }
  .footer_b button {
    padding: 1.5vh 2vw;
    margin-top: 2.1vh;
  }
}
