@keyframes littleBig {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.home {
  animation-name: littleBig;
  animation-duration: 2s;
  font-size: 2vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home img {
  width: 20vw;
}
