/* Css for content whit background office */

.menu {
  position: relative;
  top: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24vw -2vh 24vw;
  width: 52vw;
  height: 8vh;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 20px;
}

.menu_link {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 2.5vh;
  margin: 0 1%;
}
.active {
  text-decoration: underline 3px rgb(255, 255, 255);
}
.menu_link:hover {
  text-decoration: underline 2.5px rgb(255, 255, 255);
}
.linkedin {
  width: 2vw;
  margin-right: 40px;
}
.linkedin:hover {
  width: 2.4vw;
}
.git {
  width: 2.6vw;
  margin-left: 40px;
}
.git:hover {
  width: 3vw;
}
/* Css for content whit background earth */
.menu_b {
  position: relative;
  top: 20px;
  flex-wrap: wrap;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24vw -2vh 24vw;
  width: 52vw;
  height: 8vh;
  border-radius: 20px;
  background-color: rgba(4, 8, 75, 0.274);
}
