@keyframes slideIn3 {
  0% {
    transform: translate(0vw, 100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}
.portfolio {
  z-index: 1;
  animation-name: slideIn3;
  animation-duration: 1s;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 85vh;
}

.title_project {
  width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: space-around;
  font-size: 1.2vw;
  text-shadow: black 2px 2px 2px;
}
.title_project h2 {
  width: 25vw;
  text-align: center;
}
/* Css for content whit background office */
.portfolio_content {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.portfolio_content a {
  color: blanchedalmond;
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.portfolio_content img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}
.portfolio_content :hover {
  width: 25vw;
  padding: 0 1%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.616);
  font-size: 1.6vw;
}
/* Css for content whit background earth */
.portfolio_content_b {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.portfolio_content_b a {
  color: blanchedalmond;
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.portfolio_content_b img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}
.portfolio_content_b :hover {
  width: 25vw;
  padding: 0 1%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(4, 8, 75, 0.274);
  font-size: 1.6vw;
}
