@keyframes slideIn2 {
  0% {
    transform: translate(0vw, 100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

.aPropos {
  animation-name: slideIn2;
  animation-duration: 1s;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
}

/* Css for content whit background office */
.aPropos_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.aPropos_content p {
  text-align: center;
  font-size: 1.6em;
  width: 35vw;
  border-radius: 10px;
  padding: 8vh 1vw;
  background-color: rgba(0, 0, 0, 0.664);
}
.image {
  width: 35vw;
  border-radius: 10px;
}
/* Css for content whit background earth */
.aPropos_content_b {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.aPropos_content_b p {
  text-align: center;
  font-size: 1.8em;
  width: 35vw;
  border-radius: 10px;
  padding: 8vh 1vw;
  background-color: rgba(4, 8, 75, 0.274);
}
.image_b {
  width: 35vw;
  border-radius: 10px;
}
/* ------------------------------------------Responsive bigscreen-------------------------------------------- */
@media screen and (min-width: 2440px) {
  .aPropos_content img {
    width: 20vw;
    border-radius: 10px;
  }
  .aPropos_content_b img {
    width: 20vw;
    border-radius: 10px;
  }
}
