.background-video {
  width: 1920px;
  z-index: -1;
  position: fixed;
}
@media screen and (max-width: 760px) {
  .background-video {
    width: 1920px;
    margin-left: -35vw;
  }
}
@media screen and (min-width: 1920px) {
  .background-video {
    width: 2440px;
    margin-top: -30vh;
  }
}
@media screen and (min-width: 2440px) {
  .background-video {
    width: 3840px;
    margin-top: -30vh;
  }
}
