.container_button {
  position: absolute;
  top: 0;
  height: 0;
}

.content_button_phone {
  display: none;
}
.content_button_phone_b {
  display: none;
}

.content_button_background {
  position: fixed;
  text-align: center;
  top: 10vh;
  background-color: var(--bckgColorBlack);
  color: var(--textColor);
  transition: 0.5s;
  height: 13vh;
  margin-left: -2.2vw;
  width: 3vw;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.content_button_background p {
  text-orientation: upright;
  writing-mode: vertical-lr;
  width: 50%;
  margin: 0% 25%;
  font-size: 0.8vw;
}
.content_button_background:hover {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 0;
}
.content_button_background_b {
  position: fixed;
  text-align: center;
  top: 10vh;
  background-color: rgba(4, 8, 75, 0.6);
  color: var(--textColor);
  transition: 0.5s;
  height: 13vh;
  margin-left: -2.2vw;
  width: 3vw;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.content_button_background_b p {
  text-orientation: upright;
  writing-mode: vertical-lr;
  width: 50%;
  margin: 0% 25%;
  font-size: 0.8vw;
}
.content_button_background_b:hover {
  background-color: var(--bckgColorBlue);
  margin-left: 0;
}
@media screen and (min-width: 2440px) {
  .content_button_background {
    margin-left: -2.5vw;
  }
  .content_button_background p {
    font-size: 0.4vw;
  }
  .content_button_background:hover {
    width: 1.5vw;
  }
  .content_button_background_b {
    margin-left: -2.5vw;
  }
  .content_button_background_b p {
    font-size: 0.4vw;
  }
  .content_button_background_b:hover {
    width: 1.5vw;
  }
}
