/* ------------------------------------------Responsive phone-------------------------------------------- */
@media screen and (max-width: 760px) {
  /* Css du bouton pour changé le background */
  .content_button_background {
    background-color: rgba(0, 0, 0, 0.8);
    top: -0.1vh;
    left: 2vw;
    border: rgba(255, 235, 205, 0.6) solid 1px;
    border-radius: 0 0 100% 0;
    z-index: 3;
    height: 16vw;
    width: 16vw;
  }
  .content_button_background:hover {
    left: -0.2vw;
  }

  .content_button_background p {
    height: 5vh;
    word-wrap: break-word;
    margin-top: -1.5vh;
    margin-left: 2.5vw;
    font-size: 1.2vh;
  }
  .content_button_background_b {
    top: -0.1vh;
    left: 2vw;
    border: rgba(255, 235, 205, 0.6) solid 1px;
    border-radius: 0 0 100% 0;
    z-index: 3;
    height: 16vw;
    width: 16vw;
  }
  .content_button_background_b:hover {
    left: -0.2vw;
  }
  .content_button_background_b p {
    height: 5vh;
    word-wrap: break-word;
    margin-top: -1.5vh;
    margin-left: 2.5vw;
    font-size: 1.2vh;
  }
  /* Css bouton menu téléphone */
  .content_button_phone {
    position: fixed;
    z-index: 3;
    padding-right: 1vw;
    top: 2vh;
    left: 88vw;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    width: 9vw;
    border: none;
  }
  .content_button_phone img {
    width: 9vw;
  }
  .content_button_phone p {
    margin-top: -2.5vh;
    font-size: 15vw;
    color: red;
  }
  .content_button_phone_b {
    position: fixed;
    z-index: 3;
    margin-left: 1vw;
    padding-right: 1vw;
    top: 2vh;
    left: 88vw;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    width: 9vw;
    border: none;
  }
  .content_button_phone_b img {
    width: 9vw;
  }
  .content_button_phone_b p {
    margin-top: -2.5vh;
    font-size: 15vw;
    color: red;
  }
}
/* ------------------------------------------Responsive landscape-------------------------------------------- */
@media screen and (max-height: 620px) {
  /* Css du bouton pour changé le background */
  .content_button_background {
    background-color: rgba(0, 0, 0, 0.8);
    top: 20vh;
    height: 15vh;
    margin-left: 0;
    width: 2.5vw;
  }

  .content_button_background_b {
    top: 20vh;
    height: 15vh;
    margin-left: 0;
    width: 2.5vw;
  }
}
