/* ------------------------------------------Responsive phone-------------------------------------------- */
@media screen and (max-width: 760px) {
  /* Css du bouton pour changé le background */
  .content_button_background {
    background-color: rgba(0, 0, 0, 0.8);
    top: -7vh;
    left: -12vw;
    border: rgba(4, 8, 75) solid 1px;
    border-radius: 50%;
    z-index: 3;
    height: 14vh;
    width: 28vw;
  }
  .content_button_background:hover {
    left: -14.2vw;
  }

  .content_button_background p {
    margin-top: 5.5vh;
    height: 5vh;
    word-wrap: break-word;
    margin-left: 16vw;
    font-size: 1.2vh;
  }
  .content_button_background_b {
    top: -7vh;
    left: -12vw;
    border-radius: 50%;
    border: rgba(0, 0, 0, 0.4) solid 1px;
    z-index: 3;
    height: 14vh;
    width: 28vw;
    transition: none;
    background-color: ;
  }
  .content_button_background_b:hover {
    left: -14vw;
  }
  .content_button_background_b p {
    writing-mode: vertical-lr;
    margin-top: 5.5vh;
    height: 5vh;
    word-wrap: break-word;
    margin-left: 16vw;
    font-size: 1.2vh;
  }
  /* Css bouton menu téléphone */
  .content_button_phone {
    position: fixed;
    z-index: 3;
    padding-right: 1vw;
    top: 2vh;
    left: 88vw;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    width: 9vw;
    border: none;
  }
  .content_button_phone img {
    width: 9vw;
  }
  .content_button_phone p {
    margin-top: -2.5vh;
    font-size: 15vw;
    color: red;
  }
  .content_button_phone_b {
    position: fixed;
    z-index: 3;
    margin-left: 1vw;
    padding-right: 1vw;
    top: 2vh;
    left: 88vw;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    width: 9vw;
    border: none;
  }
  .content_button_phone_b img {
    width: 9vw;
  }
  .content_button_phone_b p {
    margin-top: -2.5vh;
    font-size: 15vw;
    color: red;
  }
}
/* ------------------------------------------Responsive landscape-------------------------------------------- */
@media screen and (max-height: 620px) {
  /* Css du bouton pour changé le background */
  .content_button_background {
    background-color: rgba(0, 0, 0, 0.8);
    top: 20vh;
    height: 15vh;
    margin-left: 0;
    width: 2.5vw;
  }

  .content_button_background_b {
    top: 20vh;
    height: 15vh;
    margin-left: 0;
    width: 2.5vw;
  }
}
