@keyframes slideIn {
  0% {
    transform: translate(-100vw, 0vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

.competences {
  animation-name: slideIn;
  animation-duration: 1s;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 85vh;
}

.competences_content {
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 50vh;
}
.competences_content p {
  text-align: center;
  font-size: 2vw;
  width: 34vw;
  border-radius: 10px;
  padding: 1%;
}

.competences_content_left {
  text-align: center;
  flex-direction: column;
  width: 35vw;
}
.competences_content_left a {
  flex-direction: column;
  width: 30vw;
}
.competences_content_left img {
  width: 35vw;
  border-radius: 10px;
}

.link_cv {
  text-decoration: none;
  color: blanchedalmond;
  font-size: 1.2vw;
  margin-bottom: 2%;
}
.link_cv:hover {
  text-decoration: underline 2.5px rgb(255, 255, 255);
}
/* ------------------------------------------Responsive bigscreen-------------------------------------------- */
@media screen and (min-width: 2440px) {
  .competences_content {
    justify-content: space-evenly;
  }
  .competences_content_left {
    text-align: center;
    flex-direction: column;
    width: 20vw;
  }
  .competences_content_left a {
    width: 30vw;
  }
  .competences_content_left img {
    width: 20vw;
    border-radius: 10px;
  }
  .link_cv {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1vw;
  }
  .competences_content p {
    text-align: center;
    font-size: 1vw;
    width: 30vw;
    border-radius: 10px;
    padding: 1%;
  }
}
