/* ------------------------------------------Responsive phone-------------------------------------------- */
@media screen and (max-width: 760px) {
  .home {
    font-size: 6vw;
  }
  .home img {
    width: 50vw;
  }
}
/* ------------------------------------------Responsive landscape-------------------------------------------- */
@media screen and (max-height: 620px) {
  .home {
    font-size: 2.6vw;
  }
}
