@keyframes slideInPhone {
  0% {
    transform: translate(0vw, -100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Css for content whit background office */
.menu {
  animation-duration: 1s;
  animation-name: slideInPhone;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.616);
}

.menu_link {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 2.5vh;
  margin: 0 1%;
}
.menu_link_social {
  text-align: center;
}
.active {
  text-decoration: underline 3px rgb(255, 255, 255);
}
.menu_link:hover {
  text-decoration: underline 2.5px rgb(255, 255, 255);
}
.linkedin {
  width: 2.6vw;
  border-radius: 50%;
  background-color: blanchedalmond;
  border: solid white 1px;
  margin-right: 1vw;
}
.linkedin:hover {
  width: 2.8vw;
}
.git {
  width: 2.6vw;
  margin-left: 1vw;
  border-radius: 50%;
  border: solid white 1px;
  background-color: blanchedalmond;
}
.git:hover {
  width: 2.8vw;
}
/* Css for content whit background earth */
.menu_b {
  animation-duration: 1s;
  animation-name: slideInPhone;
  flex-wrap: wrap;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  background-color: rgba(4, 8, 75, 0.274);
}
/* ------------------------------------------Responsive bigscreen-------------------------------------------- */
@media screen and (min-width: 2440px) {
  .linkedin {
    width: 1.4vw;
  }
  .linkedin:hover {
    width: 1.6vw;
  }
  .git {
    width: 1.4vw;
  }
  .git:hover {
    width: 1.6vw;
  }
}
