/* Css for content whit background office */
.menu {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.616);
}

#manu_hide {
  display: block;
}
.menu_button {
  display: none;
}
.menu_button_b {
  display: none;
}
.menu_link {
  color: blanchedalmond;
  text-decoration: none;
  font-size: 2.5vh;
  margin: 0 1%;
}
.menu_link_social {
  text-align: center;
}
.active {
  text-decoration: underline 3px rgb(255, 255, 255);
}
.menu_link:hover {
  text-decoration: underline 2.5px rgb(255, 255, 255);
}
.linkedin {
  width: 2.6vw;
}
.linkedin:hover {
  width: 2.8vw;
}
.git {
  width: 3.2vw;
}
.git:hover {
  width: 3.4vw;
}
/* Css for content whit background earth */
.menu_b {
  flex-wrap: wrap;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  background-color: rgba(4, 8, 75, 0.274);
}
@media screen and (min-width: 2440px) {
  .linkedin {
    width: 1.6vw;
  }
  .linkedin:hover {
    width: 1.6vw;
  }
  .git {
    width: 2vw;
  }
  .git:hover {
    width: 2vw;
  }
}
@media screen and (max-width: 760px) {
  .menu {
    flex-direction: column;
    width: 100vw;
    height: 35vh;
  }
  #menu_show {
    display: none;
  }
  .menu_button {
    display: block;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.616);
    border: none;
  }
  .menu_button img {
    width: 10vw;
  }
  .menu_b {
    flex-direction: column;
    width: 100vw;
    height: 35vh;
  }
  .menu_button_b {
    display: block;
    width: 100vw;
    background-color: rgba(4, 8, 75, 0.274);
    border: none;
  }
  .menu_button_b img {
    width: 10vw;
  }
  .linkedin {
    width: 10vw;
  }
  .git {
    width: 12vw;
  }
}

@media screen and (max-height: 440px) {
  .menu {
    height: 15vh;
  }
  .menu_b {
    height: 15vh;
  }
  .menu_link {
    font-size: 1em;
  }
  .linkedin {
    width: 4vw;
  }
  .git {
    width: 5vw;
  }
}
