/* ------------------------------------------Responsive phone-------------------------------------------- */
@media screen and (max-width: 760px) {
  .menu {
    position: fixed;
    top: 0;
    margin-bottom: 20vh;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: 0.6s;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu_link {
    margin: 0.5vh 0;
  }

  #menu_show {
    overflow: hidden;
    transition: 0.6s;
    left: 100vw;
  }

  .menu_b {
    position: fixed;
    top: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: 0.6s;
    left: 0;
    bottom: 0;
    background-color: rgba(4, 8, 75, 0.85);
  }

  .linkedin {
    margin-bottom: 1vh;
    width: 10vw;
  }
  .linkedin:hover {
    margin-bottom: 1vh;
    width: 10vw;
  }
  .git {
    margin-top: 2vh;
    width: 10vw;
  }
  .git:hover {
    margin-bottom: 2vh;
    width: 10vw;
  }
}
/* ------------------------------------------Responsive landscape-------------------------------------------- */
@media screen and (max-height: 440px) {
  .menu {
    height: 15vh;
  }
  .menu_b {
    height: 15vh;
  }
  .menu_link {
    font-size: 1em;
  }
  .linkedin {
    width: 3.8vw;
  }
  .linkedin:hover {
    width: 3.8vw;
  }
  .git {
    width: 4vw;
  }
  .git:hover {
    width: 4vw;
  }
}
