/* Css for all div */
.portfolio {
  z-index: 1;
  align-items: center;
  animation-name: slideBottom;
  animation-duration: 1s;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 75vh;
}

/* Css for div content title and img  */
.portfolio_card {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.title_project {
  height: 8vh;
  width: 30vw;
  font-size: 1.2vw;
  text-shadow: black 2px 2px 2px;
  text-align: center;
}

/* Css for content whit background office */
.portfolio_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.content_hover {
  position: absolute;
  transition: 0.6s;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
  font-size: 0;
  width: 20vw;
  height: 30vh;
}
.content_hover:hover {
  background-color: var(--bckgColorBlack);
  font-size: 2.5vh;
  border-radius: 10px;
}

.portfolio_content a {
  color: var(--textColor);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-size: 2.5vh;
}

.portfolio_content img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}

/* Css for content whit background earth */
.portfolio_content_b {
  display: flex;
  justify-content: space-around;
}

.portfolio_content_b a {
  color: var(--textColor);
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.portfolio_content_b img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}
.content_hover_b {
  transition: 0.6s;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 2.5vw;
  font-size: 0;
  width: 20vw;
  height: 30vh;
}
.content_hover_b:hover {
  background-color: var(--bckgColorBlue);
  font-size: 2.5vh;
  animation: 0.5s;
  border-radius: 10px;
}

.content_phone_paragraph {
  display: none;
}
.content_phone {
  display: none;
}
/* ------------------------------------------Responsive bigscreen-------------------------------------------- */
@media screen and (min-width: 2440px) {
  /* Css for content whit background office */
  .portfolio_content a {
    width: 20vw;
    height: 45vh;
  }

  .portfolio_content img {
    width: 20vw;
    height: 45vh;
  }
  .title_project {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 0.8vw;
  }
  .content_hover {
    width: 15vw;
    height: 45vh;
  }
  .content_hover:hover {
    font-size: 4vh;
  }
  /* Css for content whit background earth */

  .portfolio_content_b a {
    width: 20vw;
    height: 45vh;
  }

  .portfolio_content_b img {
    width: 20vw;
    height: 45vh;
  }
  .content_hover_b {
    width: 15vw;
    height: 45vh;
  }
  .content_hover_b:hover {
    font-size: 4vh;
  }
}
