/* ------------------------------------------Responsive phone-------------------------------------------- */
@media screen and (max-width: 760px) {
  .portfolio h1 {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .portfolio_container {
    flex-direction: column;
  }
  .portfolio_content img {
    width: 60vw;
    height: 20vh;
  }
  .portfolio_content a {
    height: 20vh;
  }
  .portfolio_content_b img {
    width: 60vw;
    height: 20vh;
  }
  .portfolio_content_b a {
    height: 20vh;
  }
  .content_link {
    height: 20vh;
  }
  .portfolio_card {
    width: 60vw;
    margin: 0 20vw;
  }
  .title_project {
    height: 6vh;
    width: 60vw;
    font-size: 3vw;
    text-align: center;
  }
  .content_phone {
    display: block;
  }
  .content_hover {
    display: none;
  }
  .content_phone_paragraph {
    text-align: center;
    margin: 2vh 0 6vh 0;
    display: block;
    width: 60vw;
  }
}
/* ------------------------------------------Responsive landscape-------------------------------------------- */
@media screen and (max-height: 620px) {
  .portfolio {
    margin-top: 5vh;
  }
  .portfolio_container {
    flex-direction: column;
    justify-content: center;
  }

  .portfolio_content img {
    width: 50vw;
    height: 55vh;
  }
  .portfolio_content a {
    height: 55vh;
  }
  .portfolio_content_b img {
    width: 50vw;
    height: 55vh;
  }
  .portfolio_content_b a {
    height: 55vh;
  }
  .content_link {
    height: 55vh;
  }
  .portfolio_card {
    width: 50vw;
    margin: 9vh 25vw 0 25vw;
    height: 100vh;
  }
  .title_project {
    height: 15vh;
    width: 50vw;
    font-size: 1.8vw;
    text-align: center;
  }
  .content_phone {
    display: block;
  }
  .content_hover {
    display: none;
  }
  .content_phone_paragraph {
    text-align: center;
    padding: 5vh 2.25vw;
    display: block;
    width: 45vw;
  }
}
