@keyframes slideIn3 {
  0% {
    transform: translate(0vw, 100vh);
  }

  100% {
    transform: translate(0, 0);
  }
}
.portfolio {
  z-index: 1;
  align-items: center;
  animation-name: slideIn3;
  animation-duration: 1s;
  flex-wrap: wrap;
  display: flex;
  width: 100vw;
  height: 75vh;
}

.portfolio_container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.portfolio_card {
  flex-direction: column;
  width: 30vw;
}

.title_project {
  height: 8vh;
  width: 30vw;
  font-size: 1.2vw;
  text-shadow: black 2px 2px 2px;
  text-align: center;
}

/* Css for content whit background office */
.portfolio_content {
  display: flex;
  justify-content: space-around;
}

.portfolio_content a {
  color: blanchedalmond;
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.portfolio_content img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}
.portfolio_content :hover {
  padding: 0 1vw;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.616);
  font-size: 1.6vw;
}
/* Css for content whit background earth */
.portfolio_content_b {
  display: flex;
  justify-content: space-around;
}

.portfolio_content_b a {
  color: blanchedalmond;
  height: 30vh;
  border-radius: 10px;
  border: none;
}

.portfolio_content_b img {
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
}
.portfolio_content_b :hover {
  padding: 0 1vw;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(4, 8, 75, 0.274);
  font-size: 1.6vw;
}
.content_phone_paragraph {
  display: none;
}
.content_phone {
  display: none;
}
/* ------------------------------------------Responsive bigscreen-------------------------------------------- */
@media screen and (min-width: 2440px) {
  /* Css for content whit background office */
  .portfolio_content a {
    width: 20vw;
    height: 45vh;
  }

  .portfolio_content img {
    width: 20vw;
    height: 45vh;
  }
  .title_project {
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 0.8vw;
  }
  /* Css for content whit background earth */

  .portfolio_content_b a {
    width: 20vw;
    height: 45vh;
  }

  .portfolio_content_b img {
    width: 20vw;
    height: 45vh;
  }
}
